.footer {
  &__socials {
    height: 102px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
    .socials {
      &__wrapper {
        display: flex;
        align-items: center;
        height: 102px;
      }
      &__text {
        width: 240px;
        height: 44px;
        color: rgb(55, 69, 74);
        font-family: Proxima Nova;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        margin-right: 111px;
      }
      &__buttons {
        display: flex;
        gap: 15px;
        margin-right: 50px;
        .buttons {
          &__input {
            input {
              padding: 15px 30px;
              border-radius: 26px;
              color: rgb(55, 69, 74);
              font-family: Proxima Nova;
              font-size: 16px;
              font-weight: 600;
              line-height: 22px;
              letter-spacing: 0px;
              text-align: center;
              border: 1px solid rgb(108, 182, 68);
            }
          }
          &__button {
            button {
              border-radius: 26px;
              background: linear-gradient(
                90deg,
                rgb(108, 182, 68),
                rgb(130, 202, 44) 100%
              );
              border: none;
              padding: 15px 30px;
              color: rgb(255, 255, 255);
              font-family: Proxima Nova;
              font-size: 16px;
              font-weight: 600;
              line-height: 22px;
              letter-spacing: 0px;
              text-align: center;
              cursor: pointer;
            }
          }
        }
      }
      &__divider {
        height: 102px;
        width: 1px;
        background-color: rgb(244, 244, 244);
      }
      &__links {
        display: flex;
        align-items: center;
        .links {
          &__text {
            width: 86px;
            height: 44px;
            color: rgb(55, 69, 74);
            font-family: Proxima Nova;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
            margin-left: 51px;
            margin-right: 40px;
          }
          &__items {
            display: flex;
            gap: 15px;
            .items {
              &__item {
                height: 60px;
                width: 60px;
                background: rgb(244, 244, 244);
                border-radius: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
  &__contacts {
    height: 370px;
    background: rgb(244, 244, 244);
    padding: 40px 0;
    .contacts {
      &__wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
      }
      &__contact {
        width: 293px;
        height: 290px;
        padding-top: 63px;
        position: relative;
        .contact {
          &__logo {
            position: absolute;
            top: -45px;
          }
          &__items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
            a {
              color: rgba(55, 69, 74, 0.6);
              font-family: Proxima Nova;
              font-size: 16px;
              font-weight: 400;
              line-height: 22px;
              letter-spacing: 0px;
              text-align: left;
            }
            a[href*="tel"],
            a[href*="mail"] {
              text-decoration: none;
            }
            .items {
              &__item {
                height: 22px;
                display: flex;
                gap: 14px;
              }
            }
          }
          &__divider {
            width: 262px;
            height: 1px;
            background: rgb(223, 223, 223);
            margin-bottom: 20px;
          }
          &__text {
            width: 262px;
            height: 44px;
            color: rgba(55, 69, 74, 0.6);
            font-family: Proxima Nova;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
      }
      &__divider {
        width: 1px;
        height: 290px;
        background: rgb(223, 223, 223);
      }
      &__links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .links {
          &__items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .items {
              &__title {
                color: rgb(55, 69, 74);
                font-family: Proxima Nova;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: left;
              }
              &__items {
                color: rgba(55, 69, 74, 0.6);
                font-family: Proxima Nova;
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0px;
                text-align: left;
                ul {
                  list-style: none;
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  &__police {
    height: 100px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    .police {
      &__text,
      &__text a {
        width: 277px;
        height: 40px;
        color: rgba(55, 69, 74, 0.6);
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
      }
      &__text a {
        font-weight: 600;
      }
    }
  }
}
