.how-it-work {
  padding-top: 50px;
  padding-bottom: 60px;
  background: rgb(244, 244, 244);
  &__title {
    color: rgb(55, 69, 74);
    font-family: Proxima Nova;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;
  }
  &__items {
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    .items {
      &__card {
        width: 370px;
        height: 331px;
        border: 1px solid rgb(223, 223, 223);
        border-radius: 8px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
        background: rgb(255, 255, 255);
        .card {
          &__img {
            width: 370px;
            height: 180px;
            border-radius: 8px 8px 0px 0px;
            background: rgb(237, 238, 240);
          }
          &__info {
            padding: 25px;
            color: rgb(55, 69, 74);
            font-family: Proxima Nova;
            letter-spacing: 0px;
            text-align: left;

            .info {
              &__title {
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;
                margin-bottom: 15px;
              }
              &__text {
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
  &__descr {
    color: rgba(55, 69, 74, 0.6);
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
}
